/.vs
/_ReSharper.Caches
/Build/WindowsNoEditor
/Intermediate
/Plugins/*/Binaries
/Plugins/*/Binaries/Win64
/Plugins/*/Intermediate
/Saved
/WindowsNoEditor

*.sln

*.exp
*.lib
*Shipping.exe
*Shipping.pdb
*Shipping.target

Binaries/Win64/Mood.exe
Binaries/Win64/Mood.pdb
Binaries/Win64/Mood.target
